/* @import url(https://fonts.googleapis.com/css?family=Roboto+Mono); */

.quoteBox {
  font-family: serif;
  font-size: 1rem;
}

.quote {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin: auto;
  width: 20rem;
  font-style: italic;
}

.author {
  padding-bottom: 0.25rem;
  display: inline;
}
