.quote {
  padding: 1rem;
  margin: auto;
  width: 20rem;
  font-family: serif;
  font-style: italic;
  font-size-adjust: 0.5rem;
}

.author {
  font-family: serif;
  font-size-adjust: 0.5rem;
  padding-bottom: 0.2rem;
}
