.tile {
  height: 5rem;
  width: 5rem;
  border: 1px solid rgba(210, 219, 224, 0.945);
  vertical-align: middle;
}
.cover {
  object-fit: cover;
}
.contain {
  object-fit: contain;
}
.opacity {
  filter: opacity(0.2);
}
.selected {
  border: 1px solid black;
}
